@font-face {
    font-family: 'MouseMemoirs';
    src: url('../font/Mouse_Memoirs/MouseMemoirs-Regular.ttf');
}

@font-face {
    font-family: 'Josefin';
    src: url('../font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin';
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(89,42,197);
    background: linear-gradient(234deg, rgba(89,42,197,1) 0%, rgba(230,64,68,1) 100%);
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    width: 60%;
    background: #3C424A;
    border-radius: 10px;
}

h1 {
    font-family: 'MouseMemoirs';
    font-size: 3rem;
    color: #f1f1f1;
    margin-top: 1rem;
    text-transform: uppercase;
}

.linkLists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.todoList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background: #f1f1f1;
    padding: 5px;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    height: 40px;
    box-shadow: 5px 5px rgb(0, 0, 1, 0.5);
    font-weight: bold;
    flex-wrap: wrap;
    width: 70%;
}

.deleteTask{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin';
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    color: #f1f1f1;
    margin-right: 1rem;
}

img {
    height: 25px;
}

.pText{
    margin-left: 1rem;
    background: #f1f1f1;
}

.inputvalue{
    font-family: 'Josefin';
    width: 60%;
    display: flex;
    margin: 2rem 0;
}

.inputVal{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-right: 5px;
    text-align: center;
    color: white;
    background-color: #343A40;
    border: 1px solid black;
}

.btn{
    width: 100px;
    background: #097d56;
    color: #f1f1f1;
    text-transform: uppercase;
    font-weight: bold;
    outline-style: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Josefin';
}

.btn:hover{
    background: #097d56;
    box-shadow: 0px 0px 10px #097d56;
}

.clearTask{
    background: orangered;
    color: #f1f1f1;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline-style: none;
    margin: 2rem 0;
    font-family: 'Josefin';
}

.clearTask:hover{
    background: rgb(255, 38, 0);
    box-shadow: 0px 0px 10px red;
}